<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <title>MainPage</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
                integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
                crossorigin="anonymous"></script>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: lightgrey">
            <a class="navbar-brand" style="color:black">Task Manager</a>
        </nav>
        <span th:if="${taskList.size() == 0}">No tasks <br />
            <a th:href="@{'writeTask'}"><button type="button" class="btn btn-outline-dark">Add</button></a>
        </span>
        <table class="table table-hover table-bordered" th:if="${taskList.size() != 0}" >
            <thead>
        <tr>
            <td class="tblHeadNumber" style="font-weight: bold">№</td>
            <th style="vertical-align: sub">Task</th>
            <th><a th:href="@{'writeTask'}"><button type="button" class="btn btn-outline-dark">Add</button></a></th>
        </tr>
        </thead>
            <tbody>
            <tr th:each="oneTask: ${taskList}">
                <td class="tblHeadNumber" th:text="${oneTask.id}"></td>
                <td class="target" th:text="${oneTask.task}"></td>
                <td><a th:href="@{'/changeTask/' + ${oneTask.id}}"><button type="button" class="btn btn-outline-dark">Edit</button></a></td>
                <td><a th:href="@{'/taskDelete/' + ${oneTask.id}}"><button type="button" class="btn btn-outline-danger">Delete</button></a></td>
            </tr>
            </tbody>
        </table>
        <style>
            * {
                font-size: 16.5px;
            }
            .tblHeadNumber {
                width: 8%;
                text-align: center;
            }
            .target {
                width: 90%;
            }
            .table {
                border-collapse: collapse;
                margin: 3px;
            }
        </style>
    </body>
</html>